/*clubs*/

.post-title{
    margin-top: 190px;
    height: 200px;
    background-color: #012E58;
    color: white;
}

.post__wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 40px;
    height: 100%;
}

.title{
    font-size: 100px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.clubs{
    padding: 50px 0;
}

.clubs__wrapper{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}

.club{
    border: 2px solid #012E58;
    border-radius: 10px;
    width: 340px;
    padding: 15px 20px;
    cursor: pointer;
}

.text__wrapper{
    font-size: 35px;
    font-weight: bold;
    padding: 0 10px;
}

.club:hover{
    background-color: #9F2637;
    border: 2px solid #933f4a;
}

@media screen and (max-width: 1000px) {
    .post-title{
        margin-top: 95px;
    }
}

@media screen and (max-width: 400px){
    .title{
        font-size: 40px;
    }

    .post-title{
        height: 150px;
    }

    .post__wrapper{
        padding: 5px;
    }

    .clubs__wrapper{
        justify-content: center;
    }
}