/*Contact*/

.contact{
    margin-top: 190px;
    padding: 50px 0;
}

.contact_post__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.post_content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.contact-section {
    margin-bottom: 20px;
  }
  
.contact-form {
    display: grid;
    gap: 10px;
    width: 600px;
}
  
.form-label {
    font-weight: bold;
}
  
.form-input {
    resize: vertical;
    height: 40px;
    font-size: 20px;
    padding: 3px 10px;
}
  
.submit-button {
    background-color: #012E58;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    height: 60px;
    font-size: 25px;
    font-weight: bold;
}
  
.submit-button:active {
    background-color: #3ca1ff;
}

.contact-info-text {
    line-height: 1.6;
}

.social_media{
    text-align: center;
}

.social_media h1{
    margin-bottom: 10px;
}

/*Contact*/


@media screen and (max-width: 1400px) {
    .post_content{
        flex-direction: column;
        gap: 50px;
    }
}

@media screen and (max-width: 1000px) {
    .contact{
        margin-top: 85px;
    }
}

@media screen and (max-width: 400px){
    .qr-code{
        width: 250px;
    }

    .contact-form{
        width: 300px;
    }
}