*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

a{
    color: white;
    text-decoration: none;
}

ul, li{
    list-style: none;
}

/*Sidebar*/

/* Sidebar */
.sidebar {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    height: 100%;
    width: 270px;
    background: #fff;
    padding: 15px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
}

.sidebar.close {
    padding: 0;
    width: 0px;
}
  
.menu_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    height: calc(100% - 82px);
}
  
.menu_items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.closeBar{
    width: 100%;
    height: 50px;
    font-size: 30px;
    background-color: white;
    color: black;
    border: #012E58 3px solid;
    border-radius: 5px;
}

.closeBar:hover{
    background-color: rgb(235, 235, 235);
}

.menu_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.menu_item li a{
    color: black;
    font-size: 25px;
}

.menu_item li a:hover{
    text-decoration: underline;
}

/*Sidebar*/

/* Header */

header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.sfa_logo{
    width: 150px;
    position: absolute;
    left: 35px;
    top: 20px;
}

.header__menubar{
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 220px;
    padding-right: 50px;
    font-size: 25px;
    font-weight: bold;
    background-color: #9F2637;
    color: white;
}

.header__menubar nav{
    display: flex;
    gap: 40px;
}

.header__menubar nav a:hover{
    text-decoration: underline;
}

.hamburger{
    display: none;
}

.header__navigation{
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 220px;
    padding-right: 50px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    background-color: white;
}

.header__navigation nav{
    display: flex;
    height: 100%;
}

.header__navigation nav a{
    display: flex;
    align-items: center;
    padding: 20px 30px;
    height: 100%;
    border-top: 3px solid white;
    color: black;
}

.header__navigation nav a:hover{
    border-bottom: 3px solid black;
}

.header__navigation nav a:nth-child(2){
    border-bottom: 3px solid black;
}

.hamburger:hover{
    background-color: #012E58;
}

/* Header */

/*Main Posts*/

.post-title{
    margin-top: 190px;
    height: 200px;
    background-color: #012E58;
    color: white;
}

.post__wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 40px;
    height: 100%;
}

.title{
    font-size: 100px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.main_posts__wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.nav_posts__block{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.match_post{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    width: 100%;
    border: 1px solid #012E58;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.matchweek{
    text-align: center;
    background-color: #9F2637;
    width: 100%;
    border-radius: 10px 10px 0 0;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

#current_date, #next_date{
    font-size: 30px;
    font-weight: bold;
    color: #012E58;
}

.match_list, .next_match_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 95%;
}

.match_list li,
.next_match_list li {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #012E58;
  width: 100%;
  padding: 10px 0;
  font-size: 15px;
}

.match_list li:hover,
.next_match_list li:hover {
  background-color: rgb(236, 236, 236);
  cursor: pointer;
}

.list_item{
    width: 30%;
    text-align: center;
}

.team_logo{
    width: 50px;
}

.scoreboard{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    width: 100%;
    border: 1px solid #012E58;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.score_table{
    width: 95%;
    display: flex;
    flex-direction: column;
}

.score_row:first-child{
    font-size: 20px;
}

.score_row{
    width: 100%;
    display: flex;
    font-size: 25px;
    border-bottom: 1px solid gray;
    height: 60px;
}

.score_row:first-child:hover{
    background-color: initial;
    cursor: pointer;
}

.score_row:hover{
    background-color: rgb(224, 224, 224);
    cursor: pointer;
}

.score_1item{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.score_2item{
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    font-weight: bold;
}

.score_3item{
    width: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    font-weight: bold;
}

.scoreboard button:hover{
    background-color: rgb(224, 224, 224);
}

/*Main Posts*/

/*Footer*/

footer{
    background-color: #9F2637;
    padding: 30px 0;
    color: white;
}

.footer__links_block{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.footer__links{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__links h1{
    font-size: 35px;
    font-weight: bold;
}

.footer__links a{
    font-size: 20px;
}

.footer__links a:hover{
    text-decoration: underline;
}

.footer__description{
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description__nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.description__nav a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 1400px) {
    .container{
        max-width: 1100px;
    }

    /*Header*/

    .header__menubar nav a{
        font-size: 20px;
    }

    .sfa_logo{
        width: 60px;
    }

    .hamburger{
        display: block;
    }

    .header__menubar{
        padding-left: 150px;
    }

    .header__navigation{
        display: none;
    }

    /*Header*/

    .main_posts{
        margin-top: 85px;
    }

    /*Footer*/

    .footer__links h1{
        font-size: 20px;
    }
    
    .footer__links a{
        font-size: 15px;
    }

    .footer__description{
        flex-direction: column;
        gap: 30px;
    }

    /*Footer*/
}

@media screen and (max-width: 1000px) {
    .container{
        max-width: 700px;
    }

    /*header*/

    .header__menubar nav{
        display: none;
    }

    .hamburger{
        display: block;
    }

    /*header*/
    
    .text{
        font-size: 20px;
    }

    .team_logo{
        width: 30px;
    }

    .post-title{
        margin-top: 95px;
    }

    /*Footer*/

    .footer__links_block{
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .footer__links{
        width: 100%;
        align-items: center;
    }

    .footer__links h1{
        font-size: 25px;
        font-weight: bold;
    }
    
    .footer__links a{
        font-size: 20px;
    }

    .footer__description{
        gap: 30px;
    }

    .description__nav{
        flex-direction: column;
    }

    /*Footer*/
}

@media screen and (max-width: 768px){
    .container{
        max-width: 500px;
    }

    /*welcome*/

    .welcome_post a h1{
        font-size: 20px;
    }

    .welcome_post p{
        font-size: 15px;
    }

    .welcome_post_side a h1{
        font-size: 15px;
    }

    .welcome_post_side p{
        font-size: 10px;
    }

    .post-title{
        font-size: 20px;
    }   

    .post p{
        font-size: 15px;
    }

    /*welcome*/

    .matchweek h1{
        font-size: 25px;
    }

    #current_date, #next_date{
        font-size: 20px;
    }

    .text{
        font-size: 15px;
    }

    .team_logo{
        width: 25px;
    }

    /*Footer*/

    .footer__links h1{
        font-size: 20px;
        font-weight: bold;
    }
    
    .footer__links a{
        font-size: 15px;
    }

    /*Footer*/
}

@media screen and (max-width: 400px){
    .container{
        max-width: 300px;
    }

    /*Header*/

    .header__menubar{
        justify-content: space-between;
        padding-right: 0;
        padding-left: 320px;
    }

    .hamburger{
        margin-right: 30px;
    }

    /*Header*/

    .matchweek img{
        width: 30px;
    }

    .list_item{
        width: 30%;
    }

    .list_item:nth-child(3){
        width: 20%;
    }

    .text{
        font-size: 15px;
    }

    .team_logo{
        width: 25px;
    }

    .score_1item{
       font-size: 15px;
    }
    
    .score_2item{
       font-size: 15px;
    }
    
    .score_3item{
        font-size: 15px;
    }

    .match_sfa_logo{
        display: none;
    }

    .score_sfa_logo{
        display: none;
    }

    .title{
        font-size: 50px;
    }
}