/*Fixtures*/

.post-title{
    margin-top: 190px;
    height: 200px;
    background-color: #012E58;
    color: white;
}

.post__wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 40px;
    height: 100%;
}

.title{
    font-size: 100px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.main_posts__wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 50px 0;
}

.nav_posts__block{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.match_post{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    width: 100%;
    border: 1px solid #012E58;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.matchweek{
    text-align: center;
    background-color: #9F2637;
    width: 100%;
    border-radius: 10px 10px 0 0;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

#current_date, #next_date{
    font-size: 30px;
    font-weight: bold;
    color: #012E58;
}

.match_list, .next_match_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 95%;
}

.match_list li,
.next_match_list li {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #012E58;
  width: 100%;
  padding: 10px 0;
  font-size: 15px;
}

.match_list li:hover,
.next_match_list li:hover {
  background-color: rgb(236, 236, 236);
  cursor: pointer;
}

.list_item{
    width: 30%;
    text-align: center;
}

.team_logo{
    width: 50px;
}

.scoreboard{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    width: 100%;
    border: 1px solid #012E58;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.score_table{
    width: 95%;
    display: flex;
    flex-direction: column;
}

.score_row:first-child{
    font-size: 20px;
}

.score_row{
    width: 100%;
    display: flex;
    font-size: 25px;
    border-bottom: 1px solid gray;
    height: 60px;
}

.score_row:first-child:hover{
    background-color: initial;
    cursor: pointer;
}

.score_row:hover{
    background-color: rgb(224, 224, 224);
    cursor: pointer;
}

.score_1item{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.score_2item{
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    font-weight: bold;
}

.score_3item{
    width: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    font-weight: bold;
}

.scoreboard button:hover{
    background-color: rgb(224, 224, 224);
}

/*Fixtures*/

@media screen and (max-width: 1400px) {
    .post-title{
        margin-top: 95px;
    }

    .title{
        font-size: 80px;
    }
}

@media screen and (max-width: 1000px) {
    .text{
        font-size: 20px;
    }

    .team_logo{
        width: 30px;
    }

    .title{
        font-size: 60px;
    }
}

@media screen and (max-width: 768px){
    .matchweek h1{
        font-size: 25px;
    }

    #current_date, #next_date{
        font-size: 20px;
    }

    .text{
        font-size: 15px;
    }

    .team_logo{
        width: 25px;
    }
}

@media screen and (max-width: 400px){
    .matchweek img{
        width: 30px;
    }

    .list_item{
        width: 30%;
    }

    .list_item:nth-child(3){
        width: 20%;
    }

    .text{
        font-size: 15px;
    }

    .team_logo{
        width: 25px;
    }

    .score_1item{
       font-size: 15px;
    }
    
    .score_2item{
       font-size: 15px;
    }
    
    .score_3item{
        font-size: 15px;
    }

    .match_sfa_logo{
        display: none;
    }

    .score_sfa_logo{
        display: none;
    }

    .title{
        font-size: 40px;
    }

    .post-title{
        height: 150px;
    }

    .post__wrapper{
        padding: 5px;
    }
}