*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

a{
    color: white;
    text-decoration: none;
}

ul, li{
    list-style: none;
}

/* Header */

header{
    position: fixed;
    top: 0;
    width: 100%;
}

.sfa_logo{
    width: 150px;
    position: absolute;
    left: 35px;
    top: 20px;
}

.header__menubar{
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 220px;
    padding-right: 50px;
    font-size: 25px;
    font-weight: bold;
    background-color: #9F2637;
    color: white;
}

.header__menubar nav{
    display: flex;
    gap: 40px;
}

.auth_block{
    display: flex;
    gap: 15px;
    align-items: center;
}

.auth_block button{
    background-color: #933f4a;
    height: 60px;
    width: 130px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.auth_block button:hover{
    background-color: #9F2637;
    border: 1px solid white;
}

.search{
    width: 50px;
}

.header__navigation{
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 220px;
    padding-right: 50px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    background-color: white;
}

.header__navigation nav{
    display: flex;
    height: 100%;
}

.header__navigation nav a{
    display: flex;
    align-items: center;
    padding: 20px 30px;
    height: 100%;
    border-top: 3px solid white;
    color: black;
}

.header__navigation nav a:hover{
    border-bottom: 3px solid black;
}

.header__navigation nav a:first-child{
    border-bottom: 3px solid black;
}

/* Header */

/*Welcome Block*/

.welcome__block{
    background-color: #9F2637;
    padding: 30px 0;
    margin-top: 190px;
}

.posts{
    width: 100%;
    display: flex;
    gap: 30px;
}

.post_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 60%;
}

.post_wrapper_side{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    gap: 20px;
}

.welcome_post{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: white;
    width: 1200px;
    gap: 15px;
}

.welcome_post_side{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: white;
    width: 100%;
    gap: 5px;
}

.welcome_post img, .welcome_post_side img{
    width: 100%;
    border-radius: 10px;
}

.welcome_post a:hover, .welcome_post_side a:hover{
    text-decoration: underline;
}

.welcome_post h1{
    font-size: 30px;
}

.welcome_post p{
    font-size: 20px;
}

.welcome_post_side h1{
    font-size: 20px;
}

/*Main Posts*/

.main_posts{
    padding: 100px 0;
}

.main_posts__wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.main_posts__block{
    width: 70%;
    background-color: #012E58;
    border-radius: 10px;
}

.nav_posts__block{
    width: calc(30% - 30px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.match_post{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    width: 100%;
    border: 1px solid #012E58;
    border-radius: 10px;
    padding-bottom: 10px;
}

.matchweek{
    text-align: center;
    background-color: #9F2637;
    width: 100%;
    border-radius: 10px 10px 0 0;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

#current_date, #next_date{
    font-size: 30px;
    font-weight: bold;
    color: #012E58;
}

.match_list,
.next_match_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 60%;
}

.match_list li,
.next_match_list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #012E58;
  width: 100%;
  padding: 10px 0;
  gap: 10px;
  font-size: 14px;
  text-align: center; /* Add this line to center-align text within li elements */
}

.match_post button{
    width: 95%;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #012E58;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #012E58;
}

.match_post button:hover{
    background-color: rgb(224, 224, 224);
}

/*Main Posts*/

/*Footer*/

footer{
    background-color: #9F2637;
    padding: 30px 0;
    color: white;
}

.footer__links_block{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}

.footer__links{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__links h1{
    font-size: 35px;
    font-weight: bold;
}

.footer__links a{
    font-size: 20px;
}

.footer__links a:hover{
    text-decoration: underline;
}

.footer__description{
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description__nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.description__nav a:hover{
    text-decoration: underline;
}