/*Welcome Block*/

.welcome__block{
    background-color: #9F2637;
    padding: 30px 0;
    margin-top: 190px;
}

.posts{
    width: 100%;
    display: flex;
    gap: 30px;
}

.post_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 60%;
}

.post_wrapper_side{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    gap: 20px;
}

.welcome_post{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: white;
    width: 1200px;
    gap: 15px;
}

.welcome_post_side{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: white;
    width: 100%;
    gap: 5px;
}

.welcome_post img, .welcome_post_side img{
    width: 100%;
    border-radius: 10px;
}

.welcome_post a:hover, .welcome_post_side a:hover{
    text-decoration: underline;
}

.welcome_post h1{
    font-size: 30px;
}

.welcome_post p{
    font-size: 20px;
}

.welcome_post_side h1{
    font-size: 20px;
}

/*Main Posts*/

.main_posts{
    padding: 100px 0;
}

.main_posts__wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.main_posts__block{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.post{
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: #012E58;
    border-radius: 10px;
    color: white;
}

.post:nth-child(2){
    flex-direction: row-reverse;
}

.post img{
    width: 60%;
    height: 100%;
    border-radius: 10px;
}

.post-title{
    font-size: 35px;
}

.post p{
    font-size: 20px;
}

.nav_posts__block{
    width: calc(30% - 30px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.match_post{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    width: 100%;
    border: 1px solid #012E58;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.matchweek{
    text-align: center;
    background-color: #9F2637;
    width: 100%;
    border-radius: 10px 10px 0 0;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

#current_date, #next_date{
    font-size: 30px;
    font-weight: bold;
    color: #012E58;
}

.match_list,
.next_match_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 80%;
}

.match_list li,
.next_match_list li {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #012E58;
  width: 100%;
  padding: 10px 0;
  font-size: 15px;
  gap: 5px;
}

.list_item{
    width: 20%;
    text-align: center;
}

.match_post a{
    width: 95%;
    height: 50px;
}

.match_post button{
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #012E58;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #012E58;
}

.match_post button:hover{
    background-color: rgb(224, 224, 224);
}

.scoreboard{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    width: 100%;
    border: 1px solid #012E58;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.score_table{
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.score_row:first-child{
    font-size: 20px;
}

.score_row{
    width: 100%;
    display: flex;
    font-size: 25px;
    gap: 10px;
    border-bottom: 1px solid gray;
    height: 45px;
}

.score_1item{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score_2item{
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.score_3item{
    width: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

.scoreboard a{
    width: 95%;
    height: 50px;
}

.scoreboard button{
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #012E58;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #012E58;
}

.scoreboard button:hover{
    background-color: rgb(224, 224, 224);
}

/*Main Posts*/

@media screen and (max-width: 1400px) {
    /*Welcome*/

    .welcome__block{
        margin-top: 95px;
    }

    .main_posts__block{
        width: 100%;
    }

    .post-title{
        font-size: 30px;
    }  

    .nav_posts__block{
        display: none;
    }

    /*Welcome*/
}

@media screen and (max-width: 1000px) {
    /*welcome*/

    .post{
        flex-direction: column;
    }

    .post img{
        width: 100%;
        height: auto;
    }

    .post:nth-child(2){
        flex-direction: column;
    }

    .post-title{
        font-size: 25px;
    } 

    /*welcome*/
}

@media screen and (max-width: 768px){
    /*welcome*/

    .welcome_post a h1{
        font-size: 20px;
    }

    .welcome_post p{
        font-size: 15px;
    }

    .welcome_post_side a h1{
        font-size: 15px;
    }

    .welcome_post_side p{
        font-size: 10px;
    }

    .post-title{
        font-size: 20px;
    }   

    .post p{
        font-size: 15px;
    }

    /*welcome*/
}

@media screen and (max-width: 400px){
    /*Welcome*/

    .posts{
        flex-direction: column;
    }

    .post_wrapper{
        width: 100%;
    }

    .welcome_post a h1{
        font-size: 20px;
    }

    .welcome_post p{
        font-size: 15px;
    }

    .post_wrapper_side{
        width: 100%;
    }

    .post-title{
        font-size: 20px;
    }   

    .post p{
        font-size: 15px;
    }

    /*Welcome*/
}