/*players*/

.post-title{
    margin-top: 190px;
    height: 200px;
    background-color: #012E58;
    color: white;
}

.post__wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 40px;
    height: 100%;
}

.title{
    font-size: 100px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.players{
    padding: 50px 0;
}

.players__wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 65px;
    flex-wrap: wrap;
}

.player{
    background-color: rgb(196, 161, 72);
    border-radius: 20px;
    padding: 20px 30px;
    width: 300px;
    text-align: center;
    cursor: pointer;
    border: 3px solid rgb(122, 104, 58);
}

.header_card__wrapper{
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-bottom: 180px;
    z-index: 1;
}

.header_card__wrapper h1{
    font-size: 50px;
}

.header_card__wrapper img{
    position: absolute;
    right: -10px;
    user-select: none;
}

.player h1{
    font-size: 50px;
}

.card__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 2 / 1 / 3 / 2; }
.div4 { grid-area: 2 / 2 / 3 / 3; }
.div5 { grid-area: 3 / 1 / 4 / 2; }
.div6 { grid-area: 3 / 2 / 4 / 3; }

.stat{
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}

/*players*/

@media screen and (max-width: 1400px){
    .post-title{
        margin-top: 95px;
    }
}

@media screen and (max-width: 400px){
    .title{
        font-size: 50px;
    }

    .post-title{
        height: 150px;
    }

    .post__wrapper{
        padding: 5px;
    }

    .players__wrapper{
        justify-content: center;
    }
}