*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

a{
    color: white;
    text-decoration: none;
}

ul, li{
    list-style: none;
}

/*Sidebar*/

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 270px;
    background: #fff;
    padding: 15px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    /* border: #012E58 3px solid; */
}

.sidebar.close {
    padding: 0;
    width: 0px;
}
  
.menu_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    height: calc(100% - 82px);
}
  
.menu_items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.closeBar{
    width: 100%;
    height: 50px;
    font-size: 30px;
    background-color: white;
    color: black;
    border: #012E58 3px solid;
    border-radius: 5px;
}

.closeBar:hover{
    background-color: rgb(235, 235, 235);
}

.menu_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.menu_item li a{
    color: black;
    font-size: 25px;
}

.menu_item li a:hover{
    text-decoration: underline;
}

/*Sidebar*/

/* Header */

header{
    position: fixed;
    top: 0;
    width: 100%;
}

.sfa_logo{
    width: 150px;
    position: absolute;
    left: 35px;
    top: 20px;
}

.header__menubar{
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 220px;
    padding-right: 50px;
    font-size: 25px;
    font-weight: bold;
    background-color: #9F2637;
    color: white;
}

.header__menubar nav{
    display: flex;
    gap: 40px;
}

.header__menubar nav a:hover{
    text-decoration: underline;
}

.hamburger{
    display: none;
}

.auth_block button{
    background-color: #933f4a;
    height: 60px;
    width: 130px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.auth_block button:hover{
    background-color: #9F2637;
    border: 1px solid white;
}

.search{
    width: 50px;
}

.header__navigation{
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 220px;
    padding-right: 50px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    background-color: white;
}

.header__navigation nav{
    display: flex;
    height: 100%;
}

.header__navigation nav a{
    display: flex;
    align-items: center;
    padding: 20px 30px;
    height: 100%;
    border-top: 3px solid white;
    color: black;
}

.header__navigation nav a:hover{
    border-bottom: 3px solid black;
}

.hamburger:hover{
    background-color: #012E58;
}

/* Header */


/*Main Posts*/

.main_posts{
    background-color: #012E58;
    margin-top: 190px;
    padding: 50px 0;
}

.main_posts__wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.main_posts__block{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.post{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #012E58;
    border-radius: 10px;
    color: white;
}

.post:nth-child(2){
    flex-direction: row-reverse;
}

.post img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.post-title{
    font-size: 35px;
}

.post p{
    font-size: 20px;
}

.nav_posts__block{
    width: calc(30% - 30px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.match_post{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    width: 100%;
    border: 1px solid #012E58;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    background-color: white;
}

.matchweek{
    text-align: center;
    background-color: #9F2637;
    width: 100%;
    border-radius: 10px 10px 0 0;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

#current_date, #next_date{
    font-size: 30px;
    font-weight: bold;
    color: #012E58;
}

.match_list,
.next_match_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 80%;
}

.match_list li,
.next_match_list li {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #012E58;
  width: 100%;
  padding: 10px 0;
  font-size: 15px;

}

.list_item{
    width: 20%;
    text-align: center;
}

.match_post button{
    width: 95%;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #012E58;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #012E58;
}

.match_post button:hover{
    background-color: rgb(224, 224, 224);
}

.scoreboard{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    width: 100%;
    border: 1px solid #012E58;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    background-color: white;
}

.score_table{
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.score_row:first-child{
    font-size: 20px;
}

.score_row{
    width: 100%;
    display: flex;
    font-size: 25px;
    gap: 10px;
    border-bottom: 1px solid gray;
    height: 45px;
}

.score_1item{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score_2item{
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.score_3item{
    width: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

.scoreboard button{
    width: 95%;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #012E58;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #012E58;
}

.scoreboard button:hover{
    background-color: rgb(224, 224, 224);
}

.comments{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.comments-block{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 3em;
    gap: 30px;
    width: 100%;
    border-radius: 20px;
}

.comment-user{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.divisor{
    background-color: grey;
    width: 100%;
    height: 1px;
}

.comment-content{
    width: 100%;
}

.reply-button{
    background-color: #012E58;
    color: white;
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    transition: 0.3s;
}

.reply-button:hover{
    color: white;
    background-color: #1d5991;
}

.comment-input{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 20px;
}

.comment-textarea{
    padding: 2em 3em;
}

.comment-textarea textarea{
    height: 300px;
    outline: none;
}

.comment-submit{
    background-color: #9F2637;
    width: 100%;
    padding: 1em 3em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;   
}

.textarea{
    font-size: 25px;
    width: 100%;
    resize: vertical;
    border: none;
}

.submit-button{
    background-color: #012E58   ;
    color: aliceblue;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    transition: 0.3s;
}

.submit-button:hover{
    color: white;
    background-color: #1d5991;
}

/*Main Posts*/

/*Footer*/

footer{
    background-color: #9F2637;
    padding: 30px 0;
    color: white;
}

.footer__links_block{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.footer__links{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__links h1{
    font-size: 35px;
    font-weight: bold;
}

.footer__links a{
    font-size: 20px;
}

.footer__links a:hover{
    text-decoration: underline;
}

.footer__description{
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description__nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.description__nav a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 1400px) {
    .container{
        max-width: 1100px;
    }

    /*Header*/

    .header__menubar nav a{
        font-size: 20px;
    }

    .sfa_logo{
        width: 60px;
    }

    .hamburger{
        display: block;
    }

    .header__menubar{
        padding-left: 150px;
    }

    .header__navigation{
        display: none;
    }

    /*Header*/

    /*Welcome*/

    .welcome__block{
        margin-top: 95px;
    }

    .main_posts__block{
        width: 100%;
    }

    .post-title{
        font-size: 30px;
    }  

    .nav_posts__block{
        display: none;
    }

    /*Welcome*/

    /*Footer*/

    .footer__links h1{
        font-size: 20px;
    }
    
    .footer__links a{
        font-size: 15px;
    }

    .footer__description{
        flex-direction: column;
        gap: 30px;
    }

    /*Footer*/
}

@media screen and (max-width: 1000px) {
    .container{
        max-width: 700px;
    }

    /*header*/

    .header__menubar nav{
        display: none;
    }

    .hamburger{
        display: block;
    }

    /*header*/

    /*welcome*/

    .main_posts{
        margin-top: 85px;
    }

    .post{
        flex-direction: column;
    }

    .post img{
        width: 100%;
        height: auto;
    }

    .post:nth-child(2){
        flex-direction: column;
    }

    .post-title{
        font-size: 25px;
    } 

    /*welcome*/
    
    /*Footer*/

    .footer__links_block{
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .footer__links{
        width: 100%;
        align-items: center;
    }

    .footer__links h1{
        font-size: 25px;
        font-weight: bold;
    }
    
    .footer__links a{
        font-size: 20px;
    }

    .footer__description{
        gap: 30px;
    }

    .description__nav{
        flex-direction: column;
    }

    /*Footer*/
}

@media screen and (max-width: 768px){
    .container{
        max-width: 500px;
    }

    /*welcome*/

    .welcome_post a h1{
        font-size: 20px;
    }

    .welcome_post p{
        font-size: 15px;
    }

    .welcome_post_side a h1{
        font-size: 15px;
    }

    .welcome_post_side p{
        font-size: 10px;
    }

    .post-title{
        font-size: 20px;
    }   

    .post p{
        font-size: 15px;
    }

    /*welcome*/

    /*Footer*/

    .footer__links h1{
        font-size: 20px;
        font-weight: bold;
    }
    
    .footer__links a{
        font-size: 15px;
    }

    /*Footer*/
}

@media screen and (max-width: 400px){
    .container{
        max-width: 300px;
    }

    /*Header*/

    .header__menubar{
        justify-content: space-between;
        padding-right: 0;
        padding-left: 320px;
    }

    .hamburger{
        margin-right: 30px;
    }

    /*Header*/

    /*Welcome*/

    .posts{
        flex-direction: column;
    }

    .post_wrapper{
        width: 100%;
    }

    .welcome_post a h1{
        font-size: 20px;
    }

    .welcome_post p{
        font-size: 15px;
    }

    .post_wrapper_side{
        width: 100%;
    }

    .post-title{
        font-size: 20px;
    }   

    .post p{
        font-size: 15px;
    }

    /*Welcome*/

    .comment-input{
        border-radius: 10px;
    }

    .comment-textarea{
        padding: 1em;
    }

    .comment-textarea textarea{
        font-size: 15px;
        height: 100px;
    }

    .comment-submit{
        padding: 1em;
        border-radius: 10px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    .comments-block{
        padding: 1em;
        border-radius: 10px;
    }

    .submit-button{
        font-size: 15px;
    }
}