/*Post*/

.main_posts{
    background-color: #012E58;
    margin-top: 190px;
    padding: 50px 0;
}

.main_posts__wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.main_posts__block{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.post{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #012E58;
    border-radius: 10px;
    color: white;
}

.post:nth-child(2){
    flex-direction: row-reverse;
}

.post img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.post-title{
    font-size: 35px;
}

.post p{
    font-size: 20px;
}

.nav_posts__block{
    width: calc(30% - 30px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.match_post{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    width: 100%;
    border: 1px solid #012E58;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    background-color: white;
}

.matchweek{
    text-align: center;
    background-color: #9F2637;
    width: 100%;
    border-radius: 10px 10px 0 0;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

#current_date, #next_date{
    font-size: 30px;
    font-weight: bold;
    color: #012E58;
}

.match_list,
.next_match_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 80%;
}

.match_list li,
.next_match_list li {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #012E58;
  width: 100%;
  padding: 10px 0;
  font-size: 15px;

}

.list_item{
    width: 20%;
    text-align: center;
}

.scoreboard a, .match_post a{
    width: 95%;
    height: 50px;
}

.match_post button{
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #012E58;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #012E58;
}

.match_post button:hover{
    background-color: rgb(224, 224, 224);
}

.scoreboard{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    width: 100%;
    border: 1px solid #012E58;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    background-color: white;
}

.score_table{
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.score_row:first-child{
    font-size: 20px;
}

.score_row{
    width: 100%;
    display: flex;
    font-size: 25px;
    gap: 10px;
    border-bottom: 1px solid gray;
    height: 45px;
}

.score_1item{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score_2item{
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.score_3item{
    width: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

.scoreboard button{
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #012E58;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #012E58;
}

.scoreboard button:hover{
    background-color: rgb(224, 224, 224);
}

.comments{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.comments-block{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 3em;
    gap: 30px;
    width: 100%;
    border-radius: 20px;
}

.comment-user{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.divisor{
    background-color: grey;
    width: 100%;
    height: 1px;
}

.comment-content{
    width: 100%;
}

.reply-button{
    background-color: #012E58;
    color: white;
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    transition: 0.3s;
}

.reply-button:hover{
    color: white;
    background-color: #1d5991;
}

.comment-input{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 20px;
}

.comment-textarea{
    padding: 2em 3em;
}

.comment-textarea textarea{
    outline: 1px solid #a4d3ff;
    border-radius: 5px;
    padding: 10px;
}

.comment-submit{
    background-color: #9F2637;
    width: 100%;
    padding: 1em 3em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;   
}

.textarea{
    font-size: 25px;
    width: 100%;
    resize: vertical;
    border: none;
}

.submit-button{
    background-color: #012E58   ;
    color: aliceblue;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    transition: 0.3s;
}

.submit-button:hover{
    color: white;
    background-color: #1d5991;
}

/*Post*/

@media screen and (max-width: 1400px) {
    /*Welcome*/

    .main_posts{
        margin-top: 95px;
    }

    .main_posts__block{
        width: 100%;
    }

    .post-title{
        font-size: 30px;
    }  

    .nav_posts__block{
        display: none;
    }

    /*Welcome*/
}

@media screen and (max-width: 1000px) {
    /*welcome*/

    .post{
        flex-direction: column;
    }

    .post img{
        width: 100%;
        height: auto;
    }

    .post:nth-child(2){
        flex-direction: column;
    }

    .post-title{
        font-size: 25px;
    } 

    /*welcome*/
}

@media screen and (max-width: 768px){
    /*welcome*/

    .post-title{
        font-size: 20px;
    }   

    .post p{
        font-size: 15px;
    }

    /*welcome*/
}

@media screen and (max-width: 400px){
    /*Welcome*/

    .post-title{
        font-size: 20px;
    }   

    .post p{
        font-size: 15px;
    }

    /*Welcome*/

    .comment-input{
        border-radius: 10px;
    }

    .comment-textarea{
        padding: 1em;
    }

    .comment-textarea textarea{
        font-size: 15px;
        height: 100px;
    }

    .comment-submit{
        padding: 1em;
        border-radius: 10px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    .comments-block{
        padding: 1em;
        border-radius: 10px;
    }

    .submit-button{
        font-size: 15px;
    }
}